<%= flash[:success] %>
<%= flash[:error] %>
<body>
  <div id="container">
    <%= render 'home/betform'%>
    <%= render 'tables/chart'%>
    
    <%= render 'home/chatform'%>
    <%= render 'tables/burst_table'%>
    <%= render 'tables/your_bets'%>
    
  </div>
  <script src="chart.js"></script>
       
  <!-- Include Bootstrap JS (optional) -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
      <div id="container">
        <footer>
          <p> 
          <a href="#">PesaFast BCLB no 88888 Copyright © 2023 All Rights Reserved</a></p>
        </footer>
      </div>
    </div>
</body>
