<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>PesaFast</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a class="navbar-brand" href="#"><strong>PesaFast</strong><br>Play Win Play</a>
        </div>
        
        <%=current_user.username%>
        balance <%=current_user.balance%>
        bets <%= User.count_users_with_bets%>
        Active Users: <%= User.logged_in_count %>          
        <div class="navbar-links">
            <% if user_signed_in? %>            
            <a class="nav-link flex-grow-1" href="<%= deposits_new_path %>" data-turbo-frame="modal">Deposit</a>
            <a class="nav-link flex-grow-1" href="<%= withdraws_new_path %>">Withdraw</a>
             <%= button_to "Log out", logout_path, method: :delete, class: "nav-link flex-grow-1" %>

            <%end%>         
          
                   
         
        </div>
    </nav>
</body>
</html>
